<% include ../common/header %>

    <div class="row col-sm-6 col-sm-offset-3 well">
        <h1>새 일정</h1>
        <form method="post" action="register.do">
            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" name="title"/>
            </div>
            <div class="form-group">
                <label>날짜</label>
                <input type="date" class="form-control" name="dates"/>
            </div>
            <div class="form-group">
                <label>설명</label>
                <textarea rows="5" class="form-control" name="desc"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </form>
    </div>
    
<% include ../common/footer %>