<% include ../common/header %>

    <div class="jumbotron">
        <h1>500 - Internal Server Error</h1>
        <p>요청 처리중 오류가 발생하였습니다.</p>
        <p><%=error%></p>
    </div>

<% include ../common/footer %>